<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Java to Go</h1>

    <form action="/" method="post" >
    <h2>Please select the 3 days the you would like to work on: </h2>

        <br>
        <br>
            <label class="">
                <input type="checkbox" name="day" value="Sunday" class="selectDay">
                <span class="label-body">Sunday</span>
            </label>

             <label class="">
                            <input type="checkbox" name="day" value="Monday" class="selectDay">
                            <span class="label-body">Monday</span>
                        </label>

            <label class="">
                           <input type="checkbox" name="day" value="Tuesday" class="selectDay">
                           <span class="label-body">Tuesday</span>
                       </label>

                        <label class="">
                                       <input type="checkbox" name="day" value="Wednesday" class="selectDay">
                                       <span class="label-body">Wednesday</span>
                                   </label>

                                    <label class="">
                                                   <input type="checkbox" name="day" value="Thursday" class="selectDay">
                                                   <span class="label-body">Thursday</span>
                                               </label>

                                                <label class="">
                                             <input type="checkbox" name="day" value="Friday" class="selectDay">
                                            <span class="label-body">Friday</span>
                                             </label>

                                                            <label class="">
                                                            <input type="checkbox" name="day" value="Saturday" class="selectDay">
                                                            <span class="label-body">Saturday</span>
                                                          </label>

            <div>
                <br>
                <button class="button-primary" type="submit" name="button">CONFIRM</button>
           </div>

    </form>
</body>
</html>