<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Java to Go</h1>

<form action="/manager" method="GET" >
<div class="tbl">


    <table class="manager">
             <thead>
                         <tr>
                             <th scope="col">Day</th>
                             <th scope="col">Waiters</th>
                         </tr>
                     </thead>
             <tbody>
                        {{#each schedule}}
                        <tr>
                            <td>{{days}}</td>
                            <td >
                                {{#each waiters}}
                                {{this}}
                                {{/each}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>

    </table>
{{!--     {{days}} --}}
{{!--     {{schedule}} --}}
</div>
</form>
</body>